@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
  }
  
  body {
    font-family: 'Inter', sans-serif; /* Fallback font */
  }
  
  /* Optionally, you can specify specific elements to use Roboto */
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
  }
  


  